<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.shop.entity.Admin" >
    <id column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="a_name" property="aName" jdbcType="VARCHAR" />
    <result column="a_pwd" property="aPwd" jdbcType="VARCHAR" />
    <result column="a_phone" property="aPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    a_id, a_name, a_pwd, a_phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from os_admin
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <!--管理员登录  -->
   <select id="alogin" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from os_admin
    where a_name = #{aName,jdbcType=VARCHAR} and a_pwd = #{aPwd,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from os_admin
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.entity.Admin" >
    insert into os_admin (a_id, a_name, a_pwd, 
      a_phone)
    values (#{aId,jdbcType=INTEGER}, #{aName,jdbcType=VARCHAR}, #{aPwd,jdbcType=VARCHAR}, 
      #{aPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.entity.Admin" >
    insert into os_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        a_id,
      </if>
      <if test="aName != null" >
        a_name,
      </if>
      <if test="aPwd != null" >
        a_pwd,
      </if>
      <if test="aPhone != null" >
        a_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aName != null" >
        #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aPwd != null" >
        #{aPwd,jdbcType=VARCHAR},
      </if>
      <if test="aPhone != null" >
        #{aPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.entity.Admin" >
    update os_admin
    <set >
      <if test="aName != null" >
        a_name = #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aPwd != null" >
        a_pwd = #{aPwd,jdbcType=VARCHAR},
      </if>
      <if test="aPhone != null" >
        a_phone = #{aPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.entity.Admin" >
    update os_admin
    set a_name = #{aName,jdbcType=VARCHAR},
      a_pwd = #{aPwd,jdbcType=VARCHAR},
      a_phone = #{aPhone,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>