<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.shop.entity.Car" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_username" property="cUsername" jdbcType="VARCHAR" />
    <result column="c_shopid" property="cShopid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap type="com.shop.entity.Car" id="GlBaseResultMap">
   <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_username" property="cUsername" jdbcType="VARCHAR" />
    <result column="c_shopid" property="cShopid" jdbcType="INTEGER" />
    <collection property="shop" ofType="com.shop.entity.Shop">
    <id column="s_id" property="sId" jdbcType="INTEGER" />
		<result column="s_int" property="sInt" jdbcType="INTEGER" />
		<result column="s_name" property="sName" jdbcType="VARCHAR" />
		<result column="s_price" property="sPrice" jdbcType="VARCHAR" />
		<result column="s_kind" property="sKind" jdbcType="VARCHAR" />
		<result column="s_say" property="sSay" jdbcType="VARCHAR" />
		<result column="s_image" property="sImage" jdbcType="VARCHAR" />
		<result column="s_number" property="sNumber" jdbcType="INTEGER" />
		<result column="s_phone" property="sPhone" jdbcType="VARCHAR" />
		<result column="s_school" property="sSchool" jdbcType="VARCHAR" />
		<result column="s_type" property="sType" jdbcType="VARCHAR" />
		<result column="s_time" property="sTime" jdbcType="TIMESTAMP" />
		<result column="s_username" property="sUsername" jdbcType="VARCHAR" />
		<result column="s_brand" property="sBrand" jdbcType="VARCHAR" />
		<result column="s_smallsay" property="sSmallsay" jdbcType="VARCHAR" />
		<result column="s_image2" property="sImage2" jdbcType="VARCHAR" />
		<result column="s_image3" property="sImage3" jdbcType="VARCHAR" />
		<result column="s_image4" property="sImage4" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_username, c_shopid
  </sql>
  <!--关联查询，一对多  -->
  <select id="getShopOfCar" resultMap="GlBaseResultMap">
	select s_id, s_int, s_name, s_price, s_kind, s_say, s_image, s_number, s_phone,
		s_school,
		s_type, s_time, s_username,s_brand,s_smallsay, s_image2, s_image3, s_image4, c_id, c_username, c_shopid
		from
		os_shop,os_car
		where
		c_username = #{cUsername,jdbcType=VARCHAR} and s_id = c_shopid
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from os_car
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <!--插入购物车  -->
  <insert id="inserShopCar" parameterType="com.shop.entity.Car" >
    insert into os_car (c_username, c_shopid
      )
    values (#{cUsername,jdbcType=VARCHAR}, #{cShopid,jdbcType=INTEGER}
      )
  </insert>
  <delete id="deleteByUsername">
    delete from os_car
    where c_username = #{cUsername,jdbcType=VARCHAR} and c_shopid = #{cShopid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.entity.Car" >
    insert into os_car (c_id, c_username, c_shopid
      )
    values (#{cId,jdbcType=INTEGER}, #{cUsername,jdbcType=VARCHAR}, #{cShopid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.entity.Car" >
    insert into os_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cUsername != null" >
        c_username,
      </if>
      <if test="cShopid != null" >
        c_shopid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cUsername != null" >
        #{cUsername,jdbcType=VARCHAR},
      </if>
      <if test="cShopid != null" >
        #{cShopid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.entity.Car" >
    update os_car
    <set >
      <if test="cUsername != null" >
        c_username = #{cUsername,jdbcType=VARCHAR},
      </if>
      <if test="cShopid != null" >
        c_shopid = #{cShopid,jdbcType=INTEGER},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.entity.Car" >
    update os_car
    set c_username = #{cUsername,jdbcType=VARCHAR},
      c_shopid = #{cShopid,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>