<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.NeedMapper" >
  <resultMap id="BaseResultMap" type="com.shop.entity.Need" >
    <id column="n_id" property="nId" jdbcType="INTEGER" />
    <result column="n_name" property="nName" jdbcType="VARCHAR" />
    <result column="n_price" property="nPrice" jdbcType="VARCHAR" />
    <result column="n_username" property="nUsername" jdbcType="VARCHAR" />
    <result column="n_time" property="nTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    n_id, n_name, n_price, n_username, n_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from os_need
    where n_id = #{nId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from os_need
    where n_id = #{nId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.entity.Need" >
    insert into os_need (n_id, n_name, n_price, 
      n_username, n_time)
    values (#{nId,jdbcType=INTEGER}, #{nName,jdbcType=VARCHAR}, #{nPrice,jdbcType=VARCHAR}, 
      #{nUsername,jdbcType=VARCHAR}, #{nTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.entity.Need" >
    insert into os_need
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nId != null" >
        n_id,
      </if>
      <if test="nName != null" >
        n_name,
      </if>
      <if test="nPrice != null" >
        n_price,
      </if>
      <if test="nUsername != null" >
        n_username,
      </if>
      <if test="nTime != null" >
        n_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nId != null" >
        #{nId,jdbcType=INTEGER},
      </if>
      <if test="nName != null" >
        #{nName,jdbcType=VARCHAR},
      </if>
      <if test="nPrice != null" >
        #{nPrice,jdbcType=VARCHAR},
      </if>
      <if test="nUsername != null" >
        #{nUsername,jdbcType=VARCHAR},
      </if>
      <if test="nTime != null" >
        #{nTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.entity.Need" >
    update os_need
    <set >
      <if test="nName != null" >
        n_name = #{nName,jdbcType=VARCHAR},
      </if>
      <if test="nPrice != null" >
        n_price = #{nPrice,jdbcType=VARCHAR},
      </if>
      <if test="nUsername != null" >
        n_username = #{nUsername,jdbcType=VARCHAR},
      </if>
      <if test="nTime != null" >
        n_time = #{nTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.entity.Need" >
    update os_need
    set n_name = #{nName,jdbcType=VARCHAR},
      n_price = #{nPrice,jdbcType=VARCHAR},
      n_username = #{nUsername,jdbcType=VARCHAR},
      n_time = #{nTime,jdbcType=TIMESTAMP}
    where n_id = #{nId,jdbcType=INTEGER}
  </update>
</mapper>