<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.TalkMapper" >
  <resultMap id="BaseResultMap" type="com.shop.entity.Talk" >
    <id column="t_id" property="tId" jdbcType="INTEGER" />
    <result column="t_shopid" property="tShopid" jdbcType="INTEGER" />
    <result column="t_content" property="tContent" jdbcType="VARCHAR" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
    <result column="t_time" property="tTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap type="com.shop.entity.Talk" id="GlBaseResultMap">
   <id column="t_id" property="tId" jdbcType="INTEGER" />
    <result column="t_shopid" property="tShopid" jdbcType="INTEGER" />
    <result column="t_content" property="tContent" jdbcType="VARCHAR" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
    <result column="t_time" property="tTime" jdbcType="TIMESTAMP" />
    <collection property="shop" ofType="com.shop.entity.Shop">
    <id column="s_id" property="sId" jdbcType="INTEGER" />
		<result column="s_int" property="sInt" jdbcType="INTEGER" />
		<result column="s_name" property="sName" jdbcType="VARCHAR" />
		<result column="s_price" property="sPrice" jdbcType="VARCHAR" />
		<result column="s_kind" property="sKind" jdbcType="VARCHAR" />
		<result column="s_say" property="sSay" jdbcType="VARCHAR" />
		<result column="s_image" property="sImage" jdbcType="VARCHAR" />
		<result column="s_number" property="sNumber" jdbcType="INTEGER" />
		<result column="s_phone" property="sPhone" jdbcType="VARCHAR" />
		<result column="s_school" property="sSchool" jdbcType="VARCHAR" />
		<result column="s_type" property="sType" jdbcType="VARCHAR" />
		<result column="s_time" property="sTime" jdbcType="TIMESTAMP" />
		<result column="s_username" property="sUsername" jdbcType="VARCHAR" />
		<result column="s_brand" property="sBrand" jdbcType="VARCHAR" />
		<result column="s_smallsay" property="sSmallsay" jdbcType="VARCHAR" />
		<result column="s_image2" property="sImage2" jdbcType="VARCHAR" />
		<result column="s_image3" property="sImage3" jdbcType="VARCHAR" />
		<result column="s_image4" property="sImage4" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    t_id, t_shopid, t_content, t_name, t_time
  </sql>
  <!--查询商品的所有评价  -->
  <select id="selectByPrimaryKey" resultMap="GlBaseResultMap" parameterType="java.lang.Integer" >
   select s_id, t_id, t_name, t_shopid, t_content, t_time
		from
		os_shop,os_talk
		where
		s_id = #{sId,jdbcType=INTEGER} and s_id = t_shopid
  </select>
   <!--查询所有商品的所有评价  -->
  <select id="allTalk" resultMap="GlBaseResultMap">
   select s_id, s_int, s_name, s_price, s_kind, s_say, s_image, s_number, s_phone,
		s_school,
		s_type, s_time, s_username,s_brand,s_smallsay, t_id, t_name, t_shopid, t_content, t_time
		from
		os_shop,os_talk
		where
		 s_id = t_shopid
  </select>
  <!--查看我给我评价们  -->
  <select id="lookMyTalk" resultMap="GlBaseResultMap">
   select s_Name, s_Image,  t_id, t_name, t_shopid, t_content, t_time
		from
		os_shop,os_talk
		where
		t_name = #{tName,jdbcType=VARCHAR} and s_id = t_shopid
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from os_talk
    where t_id = #{tId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.entity.Talk" >
    insert into os_talk (t_id, t_shopid, t_content, 
      t_name, t_time)
    values (#{tId,jdbcType=INTEGER}, #{tShopid,jdbcType=INTEGER}, #{tContent,jdbcType=VARCHAR}, 
      #{tName,jdbcType=VARCHAR}, #{tTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.entity.Talk" >
    insert into os_talk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tShopid != null" >
        t_shopid,
      </if>
      <if test="tContent != null" >
        t_content,
      </if>
      <if test="tName != null" >
        t_name,
      </if>
      <if test="tTime != null" >
        t_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="tShopid != null" >
        #{tShopid,jdbcType=INTEGER},
      </if>
      <if test="tContent != null" >
        #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tTime != null" >
        #{tTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.entity.Talk" >
    update os_talk
    <set >
      <if test="tShopid != null" >
        t_shopid = #{tShopid,jdbcType=INTEGER},
      </if>
      <if test="tContent != null" >
        t_content = #{tContent,jdbcType=VARCHAR},
      </if>
      <if test="tName != null" >
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tTime != null" >
        t_time = #{tTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.entity.Talk" >
    update os_talk
    set t_shopid = #{tShopid,jdbcType=INTEGER},
      t_content = #{tContent,jdbcType=VARCHAR},
      t_name = #{tName,jdbcType=VARCHAR},
      t_time = #{tTime,jdbcType=TIMESTAMP}
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
</mapper>